body { font-size: 12px; }

.fix-header { background-color: #3a3b3f; padding: 32px 16px 9px 16px; position: fixed; top: 0; width: calc(100% - 32px); left: 0; z-index: 99; }

.fix-header .ctn { color: #fff; font-size: 14px; text-align: center; position: relative; }

.fix-header .ctn .icon-left { position: absolute; left: -4px; }

.fix-header .ctn .icon-right { position: absolute; right: 0px; }

.fix-header .ctn .find { color: #fff; font-size: 14px; display: inline-block; height: 24px; position: absolute; left: 20px; }

.banner { position: relative; width: 100%; height: 210px; width: 100%; }

.banner .author-logo { border-radius: 4px; border: 1px solid #fff; position: absolute; right: 16px; bottom: 16px; }

.banner .name { font-size: 16px; color: #fff; position: absolute; right: 76px; bottom: 29px; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7); }

.banner .spot { width: 11px; height: 11px; display: block; background-color: #f00; position: absolute; border-radius: 50%; right: 12px; bottom: 58px; z-index: 2; }

.post-container .wrap-item { border-bottom: 1px solid #f3f3f3; padding: 16px; }

.post-container .wrap-item .article-tit .author-pic { margin-right: 8px; float: left; border-radius: 4px; }

.post-container .wrap-item .article-tit .paragraph { width: calc(100% - 8px - 40px); float: left; }

.post-container .wrap-item .article-tit .paragraph .img-box { margin-top: 8px; overflow: hidden; }

.post-container .wrap-item .article-tit .paragraph .img-box img { display: block; float: left; }

.post-container .wrap-item .article-tit .paragraph .img-box .img-w2 { width: calc(50% - 4px); }

.post-container .wrap-item .article-tit .paragraph .img-box .img-w3 { width: calc(33.3% - 8px); }

.post-container .wrap-item .article-tit .paragraph .img-box .img-w4 { width: calc(50% - 4px); }

.post-container .wrap-item .article-tit .paragraph .img-box .margin-img { margin-right: 4px; }

.post-container .wrap-item .article-tit .paragraph .img-box .img-greater-than2 { margin-bottom: 4px; }

.post-container .wrap-item .article-tit .paragraph .p-tit { font-size: 15px; font-weight: bold; color: #41454D; margin-bottom: 2px; display: inline; }

.post-container .wrap-item .article-tit .paragraph .p-ctn { font-size: 14px; color: #41454D; width: 100%; }

.post-container .wrap-item .article-tit .paragraph .share-url { margin-top: 8px; padding: 6px; background-color: #f7f7f7; color: #41454D; font-size: 13px; }

.post-container .wrap-item .article-tit .paragraph .share-url .share-pic { margin-right: 6px; float: left; }

.post-container .wrap-item .article-tit .paragraph .share-url .share-content { float: left; width: calc(100% - 46px); height: 40px; display: flex; justify-content: space-around; flex-direction: column; overflow: hidden; }

.post-container .wrap-item .article-tit .paragraph .interactive { margin-top: 12px; }

.post-container .wrap-item .article-tit .paragraph .interactive .icon { float: left; }

.post-container .wrap-item .article-tit .paragraph .interactive .txt-love { margin-left: 4px; margin-top: 2px; }

.post-container .wrap-item .article-tit .paragraph .interactive .txt { font-size: 12px; color: #80858c; float: left; }

.post-container .wrap-item .article-tit .paragraph .interactive .comment { margin-left: 40px; }

.post-container .wrap-item .article-tit .paragraph .interactive .txt-comment { margin-top: 3px; margin-left: 4px; }

.post-container .wrap-item .article-tit .paragraph .interactive .delete { margin-left: 40px; }

.post-container .wrap-item .article-tit .paragraph .interactive .txt-delete { margin-top: 3px; margin-left: 4px; }

.post-container .wrap-item .article-tit .paragraph .timer { color: #ACB1B7; font-size: 12px; margin-top: 12px; }

.post-container .wrap-item .article-tit .paragraph .comment-list { margin-top: 8px; }

.post-container .wrap-item .article-tit .paragraph .comment-list li { font-size: 14px; margin-bottom: 4px; color: #41454D; }

.post-container .wrap-item .article-tit .paragraph .comment-list li:last-child { margin-bottom: 0; }

.post-container .wrap-item .article-tit .paragraph .comment-list li a { font-size: 14px; color: #5BAFFF; }

.post-container .wrap-item .article-tit .paragraph .comment-list li span { font-size: 14px; color: #41454D; }

.post-container .wrap-item .article-tit .paragraph .more { margin-top: 8px; }

.post-container .wrap-item .article-tit .paragraph .more span { font-size: 12px; color: #ACB1B7; float: left; }

.post-container .wrap-item .article-tit .paragraph .more i { color: #ACB1B7; float: left; margin-left: 4px; font-size: 12px; transform: scale(0.6); }

.footer { font-size: 12px; color: #ACB1B7; margin-top: 12px; }
